{% extends "PHPKTemplateBundle::layout.html.twig" %}
{% from "PHPKTemplateBundle::import.html.twig" import phpk %}

{% block body %}
    <div class="section">
	<h1> detail config</h1>
	{{ flux }}
	{{ civ }}
	{{ nom }}
    </div>
	
	
{% endblock %}
